<!DOCTYPE html>

<head>
    <title>About</title>
        <link rel="icon" href="/img/weather.jpg">

    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    {{!-- <h1>{{title}}</h1> --}}
    <div class="main-content">
          {{>header}}
          <p>This site was created by Anurag Singh. It uses data from Mapbox.com and Openweathermap.org</p>
    <img class="portrait"" src="/img/me.jpg">
    </div>
  
    {{!-- <p>Create by {{name}}</p> --}}
    {{>footer}}
</body>
</html>